@page
@model WebApplicationCarRazorPages.Pages.Admins.DeleteCustomerModel

@{
    ViewData["Title"] = "DeleteCustomer";
}

<h2 class="tabledata">Radera kund</h2>


<div>
   
    <hr />

    <table class="tabledata">

        <th>
            @Html.DisplayNameFor(model => model.Customer.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer.Password)
        </th>
        <tr>
        <td class="tabledata">
            @Html.DisplayFor(model => model.Customer.FirstName)
        </td>
        
        <td class="tabledata">
            @Html.DisplayFor(model => model.Customer.LastName)
        </td>
       
        <td class="tabledata">
                @Html.DisplayFor(model => model.Customer.Email)
        </td>
       
        <td class="tabledata">
            @Html.DisplayFor(model => model.Customer.Password)
        </td>
        </tr>   
    </table>

    <form method="post">
        <input type="hidden" asp-for="Customer.CustomerId" />
        <input type="submit" value="Radera" class="button negative function" /> 
        <button class="button function">
        <a asp-page="./ViewCustomers">Tillbaka till kundöversikt</a>
        </button>
    </form>
</div>
